<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepblueai.ads.domain.mapper.BaseConfigMapper">
  <resultMap id="BaseResultMap" type="com.deepblueai.ads.domain.model.BaseConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="config_group" jdbcType="VARCHAR" property="configGroup" />
    <result column="config_key" jdbcType="VARCHAR" property="configKey" />
    <result column="config_value" jdbcType="VARCHAR" property="configValue" />
    <result column="reserve_1" jdbcType="VARCHAR" property="reserve1" />
    <result column="reserve_2" jdbcType="VARCHAR" property="reserve2" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap id="BaseConfigMap" type="com.deepblueai.ads.domain.model.BaseConfig">
    <result column="id" property="id" />
    <result column="customer_id" property="customerId" />
    <result column="config_group" property="configGroup" />
    <result column="config_key" property="configKey" />
    <result column="config_value" property="configValue" />
    <result column="reserve_1" property="reserve1" />
    <result column="reserve_2" property="reserve2" />
    <result column="create_id" property="createId" />
    <result column="create_name" property="createName" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="baseSql">
        id,
        customer_id,
        config_group,
        config_key,
        config_value,
        reserve_1,
        reserve_2,
        create_id,
        create_name,
        create_time
    </sql>
  <insert id="insertBaseConfig" keyProperty="id" parameterType="com.deepblueai.ads.domain.model.BaseConfig" useGeneratedKeys="true">
        insert into base_config(
            id,
            customer_id,
            config_group,
            config_key,
            config_value,
            reserve_1,
            reserve_2,
            create_id,
            create_name,
            create_time
        ) values (
            #{id},
            #{customerId},
            #{configGroup},
            #{configKey},
            #{configValue},
            #{reserve1},
            #{reserve2},
            #{createId},
            #{createName},
            #{createTime}
        )
    </insert>
    <select id="getConfigByGroupAndKey" resultMap="BaseConfigMap">
      select
      <include refid="baseSql" />
      from base_config
      where config_group = #{configGroup}
      and config_key = #{configKey}
    </select>

</mapper>